.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 40px;
  background-color: rgb(226 232 240 / 1);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); 
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: rgb(51 65 85 / 1);
}

.main {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding-top: 40px;
}

.footer {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding-top: 40px;
  background-color: rgb(226 232 240 / 1);
}
